$font-1: 'Orbitron', sans-serif;
$mainrgba : rgba(255,255,255, 0.25);

.hero {

    &.is-dark {
        background-color: #3C2B20 !important;

        &.is-bold {
            background-image: linear-gradient(141deg, #3C2B20 0%, #33261d 71%, #1f191a 100%) !important;
        }
    }

    &-head {
        .navbar-brand {
            justify-content: center;
        }
    }
    &-body {
        padding-bottom: 0!important;

        .title {
            margin-bottom: .25rem!important;
        }
        .container {
            padding-bottom: 74px;
        }
        .notification {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .button {
            font-size: 0.75rem;
            padding: 5rem 0 0;
            height: auto;
            border: 0;
            font-family: $font-1;
            background-color: transparent;
            color: currentColor;
            text-transform: uppercase;

            &:before {
                content: '+';
                font-size: 3rem;
                top: 0;
                position: absolute;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                border-radius: 50%;
                color: $mainrgba;
                border: 3px solid $mainrgba;
                background-color: rgba(255,255,255, .05);
                transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;
                box-shadow: 0 0 6px rgba(255,255,255, .01);
            }

            &:hover {
                color: #fff;
            }
            &:focus {
                color: #fff;
                box-shadow: 0 0 4px rgba(255,255,255, .5);

                &:before {
                    color: #fff;
                    box-shadow: 0 0 6px rgba(255,255,255, .5);
                    transform: translateY(1px) scale(0.98);
                }
            }

            &--remove {
                &:before {
                    content:'-';
                }
            }
        }
    }
    &-foot {
        .container {
            padding: 1rem 0;
            max-width: 260px;
        }
        .level {
            min-height: 36px;
        }
        .button.is-dark {
            background-color: transparent;
            text-decoration: underline;

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                text-decoration: none;
            }
        }
        input[type='number'] {
            display: inline-block;
            width: 4rem;
            border: 0;
            color: currentColor;
            background-color: $mainrgba;
        }
    }
}

.coffee {

    &__amount {
        position: relative;
        overflow: hidden;
        font-family: $font-1;
        font-size: 8rem;
        line-height: 1;
        padding: 2.5rem 1rem 1rem;
        font-weight: 900;
        background-color: $mainrgba;
        border-radius: 4px;
        margin-bottom: 2rem;
        text-shadow: 0 0 4px currentColor;
        box-shadow: inset 0 0 4px rgba(0,0,0, .5);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 60%;
            bottom: 0;
            width: 50%;
            background: linear-gradient(90deg, rgba(255,255,255, 0.01), rgba(255,255,255, 0.2));
            transform: skew(-20deg, 0);
        }
    }

    &__icon {
        font-size: 5rem;
        line-height: 1;
    }
}